<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    HOME
    <button id="TestTokenBtn">Test token</button>
    <%- include('partials/footer.ejs') %>
</body>
</html>

<script>

    const tokenBtn = document.getElementById("TestTokenBtn");

    tokenBtn.addEventListener('click', (event)=>{
        console.log('click token test');
        event.preventDefault();

        fetch('http://localhost:3000/token', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: "include"
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error("Error:", error));
    })

</script>

